.btn-yellow{
	margin-left: 22px;
}
/* ====================================  BEGIN FOOTER =============================== */
.header__b-left{
	left: 20px;
}
.header__b-right{
	right: 20px;
}
/* ====================================  END HEADER =============================== */
/* =================================   BEGIN B-VISUAL  ============================ */
.b-visual__slogan{
	width: 650px;
}
.b-visual__txt{
	width: 365px;
}
.b-visual__btn{
	margin: 0 auto;
	margin-top: 45px;
}
.b-visual__arrow-left{
	left: 20px;
}
.b-visual__arrow-right{
	right: 20px;
}
/* ==================================   END B-VISUAL  ============================= */
/* ==================================   BEGIN B-HOT  ============================== */
.b-hot__b-unit{
	width: 226px;
	margin: 44px 10px 0px 10px;
}

.b-hot__b-unit img{
	width: 226px;
}
.b-hot__b-unit__dimmer{
	width: 226px;
}
/* ===================================   END B-HOT  =============================== */
/* ==================================   BEGIN B-ICON  ============================= */
.b-icon__elem{
	width: 175px;
}
.b-icon__arrow-left{
	left: 20px;
}
.b-icon__arrow-right{
	right: 20px;
}
/* ===================================   END B-ICON  ============================== */
/* =================================   BEGIN B-ABOUT  ============================= */
.b-about{
	display: block;
	position: relative;
	width: 100%;
	height: 550px;
	background: url(../img/world.png) no-repeat;
	background-position: 50% 50%;
}
.b-about__service{
	width: 44.5%;
	margin: 57px 0px 0px 20px;
}
.b-about__company{
	width: 44.5%;
	margin: 57px 20px 0px 0px;
}
/* ===================================   END B-ABOUT  ============================= */
/* ===================================   BEGIN B-MAP  ============================= */
.b-map__b-left{
	margin: 47px 0px 8px 20px;
}
.b-map__b-right{
	width: 680px;
	width: 67.7%;
	margin: 18px 0px 0px 40px;
}
.b-map__b-right__b-input{
	display: inline-block;
	position: relative;
	width: 43.3%;
}
.b-map__b-right__b-input input{
	width: 90%;
}
.b-map__b-right textarea{
	right: 0px;
	width: 339px;
	width: 49.8%;
}
.b-map__b-right__send{
	right: 0px;
}
/* ====================================   END B-MAP  ============================== */
/* ==================================   BEGIN FOOTER  ============================= */
.b-center{
	display: block;
	position: relative;
	width: 1004px;
	height: 10px;
	margin: 0 auto;
}
.footer__elem{
	width: 317px;
	margin: 30px 4px 0px 11px;
}
.footer__elem__txt{
	width: 150px;
}


.footer__mailing{
	right: 20px;
	width: 41%;
}
.footer__mailing__fild{
	float: right;
	top: 13px;
	right: 15px;
	width: 45.1%;
}
.footer__webmedia{
	right: 20px;
}
/* ===================================   END FOOTER  ============================== */